:root{
    --primary-color:#1F2937;
    --secondary-color:#111827;
}

body{
    background-color: var(--primary-color);
}

.main-body{
    margin: auto;
    text-align: center;
    margin-top: 80px;
    color: white;

}

#heading{
    margin-bottom: 35px;
}

.input-label{
    font-size: 1.2rem;
}

#input-initial-price{
    display: block;
    margin: auto;
    width: 400px;
    height: 8vh;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    outline: none;
    color: white;
    border: var(--secondary-color);
}

#input-stocks{
    display: block;
    margin: auto;
    width: 400px;
    height: 8vh;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    outline: none;
    color: white;
    border: var(--secondary-color);
}

#input-current-price{
    display: block;
    margin: auto;
    width: 400px;
    height: 8vh;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    outline: none;
    color: white;
    border: var(--secondary-color);
}

#btn-check{
    margin: auto;
    width: 150px;
    height: 7vh;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: white;
    border: var(--secondary-color);
    font-size: 1.2rem;
}

.footer{
    color: white;
    margin: auto;
    /* margin-top: 30px; */
    text-align: center;
    bottom: 0;
    /* max-width: 100%; */
    font-weight: bolder;
    position: fixed;
    width: 100%;
}

#footer-para{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
}

ul{
    padding-inline-start:0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.list-item-inline{
    display: inline;
    margin:auto;
    margin-inline: 5px;
}

.footer-img{
    width: 22px;
}